{% if  block.settings.product.featured_image == blank %}
    <h2 class="heading2 h-full w-full top-0 left-0 flex justify-center items-center p-8">
      Your product's name
    </h2>
{% else %}
  <a href="{{ block.settings.product.url }}" class="h-full w-full relative flex flex-col group">
    <div class="flex-1 overflow-hidden">
      {% render "aaa-image-tag" | img_src: block.settings.product.featured_image img_class: "h-full w-full object-cover hover-effect" %}
    </div>
    
    <div class="h-16 w-full px-3 py-2 bg-light2 flex flex-row justify-between items-center">
      <div class="text-body1 text-dark">{{ block.settings.product.title }}</div>
      <div class="text-body1 text-dark">{{ block.settings.product.price | money_with_currency }}</div>
    </div>
  </a> 
{% endif %}