{%- liquid
  if section.settings.background == "light1"
    assign text_class_default = "text-dark-default" 
    assign bg_class = "bg-light1"
  elsif section.settings.background == "light2"
    assign text_class_default = "text-dark-default"  
    assign bg_class = "bg-light2"
  elsif section.settings.background == "accent1"
    assign text_class_default = "text-light-default" 
    assign bg_class = "bg-accent1"
  elsif section.settings.background == "accent2"
    assign text_class_default = "text-light-default" 
    assign bg_class = "bg-accent2"
  endif 
-%}

<section class="text-center border-b {{ bg_class }}">
  <div class="container">
  {%- for block in section.blocks -%}
    <p class="{{ text_class_default }} py-2 text-body2">
      {{ block.settings.message | escape }}
    </p>    
  {%- endfor -%}
  </div>
</section>

{% schema %}
  {
    "name": "AAA Announcement",
    "tag": "section",
    "settings": [{
        "type": "radio",
        "id": "dismiss",
        "label": "Dissmissable",
        "options": [{
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ],
        "default": "yes"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [{
            "value": "light1",
            "label": "Light 1"
          },
          {
            "value": "light2",
            "label": "Light 2"
          },
          {
            "value": "accent1",
            "label": "Accent 1"
          },
          {
            "value": "accent2",
            "label": "Accent 2"
          }
        ],
        "default": "light2"
      }
    ],
    "max_blocks": 3,
    "blocks": [{
      "type": "message",
      "name": "Message",
      "settings": [{
        "type": "text",
        "id": "message",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
        "default": "Welcome to our store"
      }]
    }]
  }

{% endschema %}
  