<div>
    <div class="password-header">
      
      {%- if shop.password_message != blank -%}
        <div class="password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
  
      <password-modal>
        <details class="password-modal modal">
          
        </details>
      </password-modal>
    </div>
  </div>
  {%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}
  
  {% schema %}
  {
    "name": "t:sections.main-password-header.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.main-password-header.settings.logo.label"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
        "label": "t:sections.main-password-header.settings.logo_max_width.label"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.main-password-header.settings.color_scheme.options__1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.main-password-header.settings.color_scheme.options__2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.main-password-header.settings.color_scheme.options__3.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.main-password-header.settings.color_scheme.options__4.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.main-password-header.settings.color_scheme.options__5.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.main-password-header.settings.color_scheme.label"
      }
    ]
  }
  {% endschema %}
  