{%- liquid
  if section.settings.background == "light1"
    assign text_class_default = "text-dark-default" 
    assign text_class_muted = "text-dark-muted" 
    assign bg_class = "bg-light1"
  elsif section.settings.background == "light2"
    assign text_class_default = "text-dark-default" 
    assign text_class_muted = "text-dark-muted" 
    assign bg_class = "bg-light2"
  elsif section.settings.background == "dark1"
    assign text_class_default = "text-light-default" 
    assign text_class_muted = "text-light-muted" 
    assign bg_class = "bg-dark1"
  elsif section.settings.background == "dark2"
    assign text_class_default = "text-light-default" 
    assign text_class_muted = "text-light-muted" 
    assign bg_class = "bg-dark2"
  endif 
-%}

<div class="text-center {{ bg_class }}">
  {%- for block in section.blocks -%}
    <p class="{{ text_class_default }} py-2 text-xs">
      {{ block.settings.text | escape }}
    </p>    
  {%- endfor -%}
  
</div>

  {% schema %}
  {
    "name": "RSG Announcement",
    "tag": "section",
    "class": "border-b",
    "settings": [{
        "type": "radio",
        "id": "dismiss",
        "label": "Dissmissable",
        "options": [{
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ],
        "default": "yes"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [{
            "value": "light1",
            "label": "Light 1"
          },
          {
            "value": "light2",
            "label": "Light 2"
          },
          {
            "value": "dark1",
            "label": "Dark 1"
          },
          {
            "value": "dark2",
            "label": "Dark 2"
          }
        ],
        "default": "dark1"
      }
    ],
    "max_blocks": 3,
    "blocks": [{
      "type": "message",
      "name": "Message",
      "settings": [{
        "type": "text",
        "id": "message",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
        "default": "Welcome to our store"
      }]
    }],
    "presets": [{
      "name": "RSG Announcement",
      "blocks": [{
        "type": "message"
      }]
    }]
  }

  {% endschema %}
  