<div class="text-center">
  <p class="p-2 text-base text-black">This is an announcement</p>
  <p class="p-2 text-base text-black">This is another announcement looped from a block</p>
</div>
  <!-- <p>{%- if section.settings.dismissable == "true" -%}
    true
    {%- else -%}
    false
  {%- endif -%}</p>  -->


  {% schema %}
  {
    "name": "RSG Announcement",
    "tag": "section",
    "class": "border-b",
    "settings": [
        {
          "type": "radio",
          "id": "dismiss",
          "label": "Dissmissable",
          "options": [
            {
              "value": "yes",
              "label": "Yes"
            },
            {
              "value": "no",
              "label": "No"
            }
          ],
          "default": "yes"
        }
    ],
    "presets": [
        {
            "name": "RSG Announcement"
        }
    ],
    "max_blocks": 3,
    "blocks": [
    {
      "type": "announcement",
      "name": "RSG Announcement",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
          "default": "Welcome to our store"
        }
      ]
    }
  ]
}

  {% endschema %}
  