@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-text-dark-default: #121212;
    --color-text-dark-muted: #4D4D4D; 
    --color-text-light-default: #FFFFFF;
    --color-text-light-muted: #FFFFFF;

    --color-background-light1: #FFFFFF;
    --color-background-light2: #F3F3F3;

    --color-background-dark1: #7D7D7D;
    --color-background-dark2: #4D4D4D;

    --color-border-light1: #D0D0D0;
    --color-border-dark1: #7D7D7D;

    --color-accent1: #121212;
    --color-accent2: #3752B2;
  }
}
